body { margin: 0; padding: 0; }

#map { position: absolute; top: 0; bottom: 0; width: 100%; 
    height:100%;
    z-index: -1
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.tooltip {

}

.leaflet-control-container { position: absolute; right: 56px } 

h3 {
    font-family: urw-form,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.777em;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 1em;
}

h4 {
    font-family: urw-form-expanded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.333em;
    margin-top: 0px;
    line-height: 0;
    margin-bottom: 1.3em;
}

p {
    font-family: urw-form,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-top: 1.3em;
}

.leaflet-popup-content p{
    margin: unset;
    margin: unset;
}

.category {
    margin-top: 1em !important;
}

.pred-label {
    font-family: urw-form,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3333em;

}

.pred-num {
    font-family: urw-form,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 1.3em  !important;
}

.low-v {
    color: green;
}

.low-p {
    color: red;
}

.high-p {
    color: green;
}

.high-v {
    color: red;
}
